@import "@/styles/variables";
@import "@/styles/mixins";

.product {
	text-align: left;

	&Image {
		width: 100%;
		height: 100%;
		object-fit: cover;

		&Wrapper {
			position: relative;
			width: 250px;
			height: 250px;
			width: 100%;
			border-radius: 10px;
			overflow: hidden;
			margin: 0 auto 10px auto;
		}
	}

	&Title {
		font-size: $fs-medium;
		font-weight: $fw-bold;
		color: $light-200;
		margin: 0 0 5px 0;
	}
}
