@import "@/styles/variables";
@import "@/styles/mixins";

.button {
	width: 100%;
	height: 40px;
	padding: 0 5px;
	border-radius: 10px;
	font-size: $fs-medium;
	background: $neon-200;
	color: $dark-300;
	font-weight: $fw-bold;
	border: none;

	@include isHover() {
		transition: background $transition-time ease;

		&:hover {
			background: $neon-100;
		}
	}
}
